@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.navStyling {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .navLink {
        color: #EBEBEB;
        text-decoration: none;
    }

    .active {
        color: #55EC20;
    }
  
    
   
    

    img {
        width: 3rem;
        height: 3rem;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        justify-content: center;
        padding: 8px;
        text-decoration: none;
        color: #EBEBEB;
        
    }
}