@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #27282B;
  font-family: Roboto, sans-serif;

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
}
footer {
  margin-top: auto;
  background-color: #201E1E;

}

h1, h2, h3, h4, h5, h6, p, b, l, a {
  color: #EBEBEB;
  text-decoration: none;
  font-family: Roboto, sans-serif;

}

